{% extends "empty_page.html" %}
{% from "my_macro.html" import show_book %}
{% from "my_macro.html" import show_book_count %}

{% block content %}

<header>
    {% if active_user.role == "admin" %}
    <a class="btn btn-outline-success mx-4" href="/users/dashboard">Dashboard</a>
    {% endif %}
    <a class="btn btn-outline-success mx-4" href="/users/change">Account</a>
    <form action="/users/logout" method="post">
        <button type="submit" class="btn btn-outline-success mx-4">Logout</button>
    </form>
</header>

<div class="container">
    {% if active_user is not none %}
    <h2>Active User: Name: {{ active_user.name }}, Firstname: {{active_user.firstname}}, Role: {{active_user.role}}</h2>
    {% endif %}

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Author</th>
            <th>Editor</th>
        </tr>
        {% for book in books %}
            {{ show_book(book.name, book.id, book.author, book.editor) }}
        {% endfor %}
    </table> 
    {{show_book_count(count)}}
</div>

<div>
    {% if active_user.role == "admin" %}
    <a class="btn btn-outline-success mx-4" href="/books/add">Add new book</a>
    <a class="btn btn-outline-success mx-4" href="/books/delete">Delete a book</a>
    <a class="btn btn-outline-success mx-4" href="/books/edit">Edit a book</a>
    {% endif %}
</div>



{% endblock %}
