{% extends "empty_page.html" %}
{% from "my_macro.html" import show_book %}

{% block content %}

<div class="container">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Author</th>
            <th>Editor</th>
        </tr>
        {% for book in books %}
            {{ show_book(book.name, book.id, book.author, book.editor) }}
        {% endfor %}
    </table> 
</div>

<div>
    <a class="btn btn-outline-success mx-4" href="/books/add">Add new book</a>
    <a class="btn btn-outline-success mx-4" href="/books/delete">Delete a book</a>
    <a class="btn btn-outline-success mx-4" href="/books/edit">Edit a book</a>

</div>

{% endblock %}
