{% extends "empty_page.html" %}

{% block content %}

<h1>Delete a book from the library</h1>

<form action="/books/delete" method="post">

    <div class="form-group">
        <label for="book_name">Book name</label>
        <input type="text" class="form-control" id="book_name" name="name" placeholder="Introduction to Algorithms" />
    </div>

    <button type="submit" class="btn btn-success my-4">Delete Book</button>

</form>

<div>
    <a class="btn btn-outline-dark mx-2" href="/books/all">Back</a>
</div>

{% endblock %}