{% macro show_book(name, id, author, editor) %}
    <tr>
        <td>{{ name }}</td>
        
        <td>
            {{ id }}
        </td>

        <td>
            {{ author }}
        </td>
        <td>
            {{ editor }}
        </td>
    </tr>
{% endmacro %}

{% macro show_book_count(count)%}
    <p> {{ count }}</p>
{% endmacro %}

{% macro show_user(email, name, firstname, role, access) %}
<tr>
    <td>{{ email }}</td>
    
    <td>
        {{ name }}
    </td>

    <td>
        {{ firstname }}
    </td>

    <td>
        {{ role }}
    </td>

    <td>
        {{ access }}
    </td>
</tr>
{% endmacro %}